# Ignore node_modules in root or any subfolder just in case
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
